@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

.App {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 48px 24px;
  box-sizing: border-box;
  background-color: #fffafa;

  overflow: hidden;
  font-family: "Gamja Flower", cursive;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
